body{
    background-color:#dbdfed;
    font-family: courier new, monospace;
    font-size: 15px;
    
}
#container{
    width:1000px;
    margin:0 auto;
}
nav{
   padding-top:10px;
       text-indent:200px;
}
nav ul li{
display:inline;
    font-weight:bold;
}

#portfolio{
    width:600px;
    height:1250px;
    border-top: solid 1px black;
    
    padding:5px 30px 20px;

    position:relative;
    left:50px;
    top:50px;
    font-family:Meiryo, monospace;
  word-wrap: break-word;
    box-sizing:border-box;
}

nav ul li a{

    text-decoration:none;
    font-size:25px;
    padding:5px 10px;
    border-left: solid 2px black;
    border-right: solid 2px black;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background-color:#c1cfe5;
    text-shadow:3px 3px 5px grey;
 
}
#contactme{
  border:solid 1px black;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding:10px;
   width:200px;
    height:300px;
    background-color: #3e3e3e;
    float:right;
    position:relative;
    bottom:1200px;
    right:65px;
    color:white;
    font-size:14px;

}
.logo{
    width:20px;
        height:20px;
    padding-right:10px;
        padding-right:10px;
    vertical-align:middle;
}

nav ul li a:link, a:visited{
    color:black;
}
nav ul li a:hover{
    background-color: #97b5e5;
    padding:7px 12px;
    
}
nav ul li a:active{
    position:relative;
    top:1px;}
p a:link, p a:visited{
    color:white; 
}

#gym{
   text-indent: 40px;
    margin-top:0;
}
p#contact{
  letter-spacing: 7px ;
      font-weight:bold;
    text-align:center;
    font-size:17px;
    
}
footer{
  position:fixed;
      bottom:0;
    padding:10px;
}

#portfolio img{
    display:block; 
    padding:10px;
    margin:0px;

    
}
#leftcolumn{
    width:220px;
 height:700px;
    float:left; 
    
}
#rightcolumn{
    width:250px;
    height:700px;
   float:right; 

}
.rightcolumn{
    float:right;
    position:relative;
}
.clearfix:after{
    content:"";
    display:table;
    clear:both;
}

iframe{
    margin-top:60px;
}
img#work4{
  background-color:white;  
    padding:13px 0px 13px;
    margin:27px 10px 0px
    
    
   
}

#leftcolumn img:hover,#rightcolumn img:hover {
    position:relative;
    top:3px;
    opacity:0.8;
    
}

#logo{
    padding-top:10px;
}
img#cupcake{
margin-top: 15px;
}
#landingpage{
    max-width:100%
}

p{
margin-left:13px;
}
img#seisaku{
display:inline;
}
#page{
    margin-top: 25px;
    margin-right:13px;
float:right;
}
iframe{
 margin-left:9px;
     
}
